.postentries {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.postentries>li {
	background-color: #DDDDDD;
	margin-top: 5px;
	padding: 5px;
	border-radius: 20px;
	border-style: solid;
	border-color: #EAEAEA;
}

.postentries>li>a {
	font-weight: bold;
	text-decoration: none;
}

.postentries > .postentry {
	
}

