body {
	background-color: #EAEAEA;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	max-width: 30em;
}

.rss {
	text-align: center;
	max-width: 80em;
}

.disclaimer {
	text-align: center;
	max-width:30em;
}

.logo {
	display:inline-block;
	vertical-align: middle;
	float:left;
}

.message {
	display:inline-block;
	vertical-align: middle;
	margin-right:10;
	float:right;
}

.title {
	font-weight: bold;
	display: inline-block;
	align:center;
	overflow:hidden;
}

.return {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.titlebar {
	background-color:black;
	color: lime;
	height: 81;
	margin-bottom: 10;
	display: table;
	width: 100%;
	text-align:center;
}

.license {
	text-align:center;
	max-width: 30em;
}