<html>
  <head>
	<title>Two or more - {{ page.title }}</title>
	<link rel="stylesheet" href="/stylesheets/vendor/bootstrap/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/stylesheets/master.css"</link>
  </head>
  <body>
	<div class="jumbotron">
	  <div class="container">
		Two or more ...
	  </div>
	</div>
	{{ content }}
	<div class="scripts">
	  <script src="/scripts/vendor/jquery/jquery-2.1.4.min.js"></script>
	  <script src="/scripts/vendor/bootstrap/bootstrap.min.js"></script>
	</div>
  </body>
</html>
