<html>
  <head>
	<title>Two or more - {{ page.title }}</title>
	<link rel="stylesheet" href="/stylesheets/maintheme.css"</link>
	<link rel="stylesheet" href="/stylesheets/pygments.css"</link>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
  </head>
  <body>
	{% include header.html %}
	<div class="return">
	  <br/>
	  <a href="/">Return to Index</a>
	  <br/>
	</div>
	<div class="postTitle">
	  <h4>{{ page.title }}</h4>
	</div>
	<div class="post">
	  {{ content }}
	</div>
	<div class="return">
	  <br/>
	  <a href="/">Return to Index</a>
	  <br/>
	  <br/>
	</div>
	{% include footer.html %}
	<div class="scripts">
	</div>
  </body>
</html>
