<html>
  <head>
    <title>Two or more - {{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/maintheme.css"></link>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <link media="Screen" href="/stylesheets/alternatepost.css" type="text/css" rel="stylesheet" />
    <link media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" href="/stylesheets/mobile.css" type="text/css" rel="stylesheet" />
    <!-- Favicon images-->
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5">
  </head>
  <body>
    {% include header.html %}
    <div class="return">
      <br/>
      <a href="/">Return to Index</a>
      <br/>
    </div>
    <div class="postTitle">
      <h1>{{ page.tag }}</h1>
    </div>
    <div class="post">
      <ul>
        {% for post in page.posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date_to_string }} </li>
        {% endfor %}
      </ul>
    </div>
    {% include footer.html %}
  </body>
</html>
